
p {
    color: #404F5E;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size:20px;
    margin: 0;
  } 
i {
  color: #fb1a06;
  font-size: 170px;
  line-height: 160px;
  margin-left:-2px;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  text-align: center;
 
     
}

h1,h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #333;
}


header {
  background-color: #333;
  color: #fff;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 0;
}

header h1 {
  font-size: 36px;
  
}
div.card {
  margin-top: 30px;
}

.card {
  background: white;
  padding: 60px;
  padding-top: 30px;
  border-radius: 4px;
  box-shadow: 0 2px 3px #C8D0D8;
  display: inline-block;
  margin: 0 auto;
  height: 350px;
  
}
.admin-link {
  background-color: #5d5b5b;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
  float: right;
  margin-left: 10px;
}

.admin-link:hover {
  background-color: #1a1a1a;
  color: #fff;
}
 